@page "/pos"
@model RazorPageInvontory.Pages.Moduls.POSSys.POSModel
@{
}
<link href="~/assets/vendor/libs/flatpickr/flatpickr.css" rel="stylesheet" />
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light">البيع مباشر /</span> فاتورة بيع مباشر
        </h4>

        <div class="row">
            <form method="post" id="invoiceForm">
            <!-- Select2 -->
            <div class="col-12">
                <div class="card mb-4">
                        <h5 class="card-header">
                            @(Model.sPSellInvoice?.ID < 0 ? "إضافة" : "تعديل")
                        </h5>
                     <div id="result"></div>
                    <div class="card-body">
                        <div class="row">
                            @* الفترة *@
                            <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                                <label for="select2Basic" class="form-label">الفترة</label>
                                    <select asp-for="sPSellInvoice.PeriodNumber" id="PeriodNumber" class="select2 form-select form-select-lg" data-allow-clear="true">
                                    <option value="الصباحية">الصباحية</option>
                                    <option value="المسائية">المسائية</option>


                                </select>
                            </div>
                            @* الصندوف *@
                            <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                                <label for="select2Basic" class="form-label">الصندوف</label>
                                    <select asp-for="sPSellInvoice.AccountID" id="AccountID" class="select2 form-select form-select-lg" data-allow-clear="true">
                                   
                                    @if (Model.Funds != null)
                                    {
                                        @foreach (var Fund in Model.Funds)
                                        {
                                            @* <option value="@Fund.ID" selected="@(Fund.ID == Model.sPSellInvoice?.AccountID ? "selected" : null)">@Fund.FundName</option> *@
                                            <option value="@Fund.ID">@Fund.FundName</option> 
                                        }
                                    }


                                </select>
                            </div>

                            @* نقطة البيع  *@
                            <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                                <label for="select2Basic" class="form-label">نقطة البيع</label>
                                    <select asp-for="sPSellInvoice.SalePointID" id="SalePointID" class="select2 form-select form-select-lg" data-allow-clear="true">
                                   
                                    @if (Model.Funds != null)
                                    {
                                        @foreach (var SalePoint in Model.SalePoints)
                                        {
                                            <option value="@SalePoint.SalePointID">@SalePoint.SalePointNumber</option>
                                        }
                                    }


                                </select>
                            </div>
                        
                        
                        </div>
                        <div class="row">

                            @* المخزن  *@
                            <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                                <label for="select2Basic" class="form-label">المخزن</label>

                                    <select asp-for="sPSellInvoice.StoreID" id="StoreID" class="select2 form-select form-select-lg" data-allow-clear="true">
                                    @* <option value="">اختر حساب</option> *@

                                    @if (Model.Stores != null)
                                    {
                                        @foreach (var Store in Model.Stores)
                                        {
                                            <option value="@Store.ID">@Store.StoreName</option>
                                        }
                                    }


                                </select>
                            </div>

                            @* الدفع *@
                            <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                                <label for="select2Basic" class="form-label">الدفع</label>
                                    <select asp-for="sPSellInvoice.ThePay" id="ThePay" class="select2 form-select form-select-lg" data-allow-clear="true">
                                        <option value="نقد">نقداً</option>
                                        <option value="آجل">آجل</option>
                                        <option value="شيك">شيك</option>
                                </select>
                            </div>

                            @* الحساب  *@
                            <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                                <label for="select2Basic" class="form-label">الحساب</label>
                                    <select asp-for="sPSellInvoice.CustomerName" id="CustomerName" class="select2 form-select form-select-lg" data-allow-clear="true">
                                    @* <option value="">اختر حساب</option> *@

                                    @if (Model.Customers != null)
                                    {
                                        @foreach (var Customer in Model.Customers)
                                        {
                                                <option value="@Customer.CustomerName">@Customer.CustomerName</option>
                                        }
                                    }


                                </select>
                            </div>
                        </div>
                            <div class="row">

                                @* التاريخ  *@

                                <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                                    <label for="select2Basic" class="form-label">التاريخ</label>
                                    <input asp-for="sPSellInvoice.TheDate" value="@(Model.sPSellInvoice?.TheDate)" type="date" id="TheDate" placeholder="MM/DD/YYYY" class="form-control">
                                </div>

                                 @* الرقم  *@
                                <div class="col-12 col-lg-6 col-xl-4 mb-0 mb-4">
                                    <label class="form-label" for="form-repeater-1-1">الرقم</label>
                                    <input asp-for="sPSellInvoice.TheNumber" id="TheNumber" value="@(Model.sPSellInvoice?.TheNumber)" type="text"  class="form-control" readonly>
                                </div>

                                @* الملاحظة *@
                                <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">الملاحظة</span>
                                        <textarea asp-for="sPSellInvoice.Notes" id="" value="@(Model.sPSellInvoice?.Notes)" class="form-control" aria-label="With textarea" style="height: 66px;"></textarea>
                                    </div>
                                </div>

                               
                            </div>
                    </div>
                </div>
            </div>
            <!-- /Select2 -->
            <!-- Form Repeater -->
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">تفاصيل الفاتورة </h5>
                    <div class="card-body">
                       
                            <!-- منتجات الفاتورة -->
                            <div class="invoice-items mt-5">
                                <table id="productsTable" class="table table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>رقم الصنف</th>
                                            <th style="width: 20%">اسم الصنف</th>
                                            <th style="width: 12%">الوحدة</th>
                                            <th style="width: 12%">سعر الوحدة</th>
                                            <th>الكمية</th>
                                            <th>نسبة الخصم</th>
                                            <th style="display: none;">قيمة الخصم</th>
                                            <th style="width: 12%">الإجمالي</th>
                                            <th>حذف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.sPSellInvoice?.InvoiceDetails != null && Model.sPSellInvoice.InvoiceDetails.Any())
                                        {
                                            @for (var i = 0; i < Model.sPSellInvoice.InvoiceDetails.Count; i++)
                                            {
                                                var detail = Model.sPSellInvoice.InvoiceDetails[i];
                                                <tr>
                                                    <td><input value="@detail.ClassID" type="text" class="form-control ProductID" placeholder="رقم الصنف"></td>
                                                    <td>
                                                        <select class="form-select productSelect ">
                                                         
                                                            @* هنا يجب إضافة خيارات الأصناف من Model.Products *@
                                                            @if (Model.Products != null)
                                                            {
                                                                @foreach (var product in Model.Products)
                                                                {
                                                                    <option value="@product.ID" selected="@(product.ID == detail.ClassID ? "selected" : "")">@product.ClassName</option>
                                                                }
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-select unitName select2">
                                                          
                                                            @* هنا يجب إضافة خيارات الوحدات بناءً على الصنف المحدد *@
                                                        </select>
                                                    </td>
                                                    <td><input type="number" class="form-control unitPrice" value="@detail.UnitPrice" placeholder="السعر"></td>
                                                     <td><input type="number" class="form-control itemQuantity" value="@detail.Quantity" placeholder="الكمية"></td>
                                                     <td><input type="number" class="form-control itemDescountRatio" value="@detail.SubDescount" placeholder="نسبة الخصم"></td>
                                                     <td style="display: none;"><input type="number" class="form-control itemDescountAmount" value="@detail.SubDescount" required ReadOnly></td>
                                                     <td><input type="number" class="form-control SubTotal" value="@detail.TotalAMount" required readonly></td>
                                                     <td><button type="button" class="btn btn-label-danger removeProduct"><i class="bx bx-trash"></i></button></td>


                                                </tr>
                                            }
                                        }


                                    </tbody>
                                </table>
                                
                                <button type="button" id="addProduct" class="btn btn-primary" style="margin-top: 10px;"><i class="bx bx-plus"></i> إضافة جديد </button>
                            </div>

                            <!-- المبالغ الإجمالية -->
                            <div class="form-row" style="padding-top: 18px;">
                                <table  class="table table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>إجمالي المبلغ</th>
                                            <th >نسبة الخصم %</th>
                                            <th >الخصم بالمبلغ</th>
                                            <th>المبلغ المدفوع</th>
                                            <th>المبلغ المتبقي</th>
                                            
                                        </tr>
                                    </thead>
                                   
                                    <td>
                                        <div class="form-group col-md-12">
                                            <input type="number" class="form-control" id="totalAmount" value="@Model.TotalAmount" name="totalAmount" asp required readonly>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <input type="number" class="form-control" id="discount" name="discount" value="@Model.Discount" required>
                                        </div>
                                    </td>
                                    <td>
                                    <div class="form-group col-md-12">

                                            <input asp-for="sPSellInvoice.Descount" type="number" class="form-control" id="DiscountAmount" value="@Model.DiscountAmount" name="DiscountAmount" required readonly>
                                    </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                         
                                            <input asp-for="sPSellInvoice.PayAmount" type="number" class="form-control" id="PaidAmoint" name="PaidAmoint" value="@Model.paidAmoint" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                           
                                            <input type="number" class="form-control" id="netAmount" name="netAmount" value="@Model.NetAmount" readonly />
                                        </div>
                                    </td>
                                   
                                </table>
                                
                               
                                

                               

                            
                                <!-- حقل مخفي يحتوي على قيمة رقم المستخدم -->
                                <input type="hidden" id="createdBy" name="createdBy" value="1" />
                            </div>
                            @Html.AntiForgeryToken() <!-- تضمين رمز التزوير -->
                            <button id="addInv" type="button" class="btn btn-success btn-block">حفظ الفاتورة</button>
                     </form>
                    </div>
                </div>
            </div>
            <!-- /Form Repeater -->
        </div>
    </div>
    <!-- / Content -->
 

    <div class="content-backdrop fade"></div>
</div>

<!-- Content wrapper -->
@section Scripts {

    <script src="~/js/invoice.js"></script>
}

