@page "/posview"
@model RazorPageInvontory.Pages.Moduls.POSSys.POSViewModel
@{
}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-4 mb-4">
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="content-left">
                                <span>عدد الفواتير</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="me-2 mb-0">19</h4>
                                    <small class="text-success">(+2%)</small>
                                </div>
                                <small>إجمالي الفواتير</small>
                            </div>
                            <span class="badge bg-label-primary rounded p-2">
                                <i class="bx bx-user bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="content-left">
                                <span>إجمالي المبلغ</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="me-2 mb-0">4,567</h4>
                                    <small class="text-success">(+18%)</small>
                                </div>
                                <small>اجمالي مبالغ الفواتير </small>
                            </div>
                            <span class="badge bg-label-danger rounded p-2">
                                <i class="bx bx-user-plus bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="content-left">
                                <span>هذا الاسبوع</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="me-2 mb-0">19,860</h4>
                                    <small class="text-danger">(-14%)</small>
                                </div>
                                <small>هذا الاسبوع</small>
                            </div>
                            <span class="badge bg-label-success rounded p-2">
                                <i class="bx bx-group bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="content-left">
                                <span>هذا الشهر</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="me-2 mb-0">237</h4>
                                    <small class="text-success">(+42%)</small>
                                </div>
                                <small>هذا الشهر</small>
                            </div>
                            <span class="badge bg-label-warning rounded p-2">
                                <i class="bx bx-user-voice bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Users List Table -->
        <div class="card">
           
         
            <div class="card-datatable table-responsive pt-0">
                <table class="datatables-basic table table-bordered">
                    <thead>
                        <tr>
                            <th>الرقم</th>
                            <th>الفترة</th>
                            <th>نقطة البيع</th>
                            <th>التاريخ</th>
                            <th>الدفع</th>
                            <th>المخزن</th>
                          
                            <th>اسم العميل</th>
                            <th>الخصم</th>
                            <th>الترحيل</th>
                            <th>المبلغ المدفوع</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Invoices != null && Model.Invoices.Any())
                        {
                            @foreach (var invoice in Model.Invoices)
                            {
                                <tr>
                                    <td>@invoice.ID</td>
                                    <td>@invoice.PeriodNumber</td>
                                    <td>@invoice.SalePointID</td>
                                    <td>@Convert.ToDateTime(invoice.TheDate).ToShortDateString()</td>
                                    <td>@invoice.ThePay</td>
                                    <td>@invoice.StoreID</td>
                                    <td>@invoice.CustomerName</td>
                                    <td>@Math.Round( invoice.Descount,1)</td>
                                    <td>@{
                                            if (@invoice.Debited == 1)
                                            {
                                                <span class="badge bg-label-success rounded p-2">مرحل</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-label-danger rounded p-2">غير مرحل</span>
                                            }
                                          
                                        }</td>
                                    <td>@Math.Round(invoice.PayAmount,1)</td>
                                    <td>

                                          <div class="d-inline-block">
                                            <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a data-bs-toggle="modal" data-bs-target="#referAndEarn" data-invoice-id="@invoice.ID" href="#" class="dropdown-item details-record"><i class="menu-icon tf-icons bx bx-spreadsheet"></i>تفاصيل</a>
                                                <a href="/pos?invoiceId=@invoice.ID" class="dropdown-item"><i class="bx bxs-edit"></i>تعديل</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:;" class="dropdown-item text-danger delete-record"><i class="bx bx-trash"></i>حذف</a>
                                          
                                            </div>
                                        </div>
                                    </td>
                          
                                </tr>
                            }

                        }
                      
                    </tbody>
                </table>
            </div>
          
        </div>
    </div>
    <!-- / Content -->
    @Html.AntiForgeryToken() <!-- تضمين رمز التزوير -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
<!-- عرض التفاصيلmodal -->
<div class="modal fade" id="referAndEarn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-simple modal-refer-and-earn">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3> تفاصيل فاتورة بيع</h3>
                    <p class="w-75 text-center m-auto mb-5">
                        Invite your friend to Frest, if they sign up, you and your friend will get 30 days free trial.
                    </p>
                </div>
               
                <hr class="my-5" />
                <table id="productsTable" class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>رقم الصنف</th>
                            <th>اسم الصنف</th>
                            <th>الوحدة</th>
                            <th >سعر الوحدة</th>
                            <th>الكمية</th>
                            <th>نسبة الخصم</th>
                            <th>قيمة الخصم</th>
                            <th style="width: 12%">الإجمالي</th>
                        </tr>
                    </thead>
                    <tbody>
                       


                    </tbody>
                </table>
               

            </div>
        </div>
    </div>
</div>
<!--/ عرض التفاصيل modal-->
@section Scripts {
   <script>
        $(document).ready(function () {
         
            // عند الضغط على زر التفاصيل
            $('.details-record').on('click', function () {
                var invoiceId = $(this).data('invoice-id'); // جلب معرف الفاتورة من الزر
             
                // التحقق من أن الـ ID موجود
                if (invoiceId > 0) {
                    // جلب بيانات الفاتورة من الخادم
                    $.ajax({
                        url: "/POSView?handler=GetInvoiceDetails",
                        method: "GET",
                        data: { invoiceId },
                        success: function (response) {
                            if (response.success) {
                                // تفريغ الجدول
                                $('#productsTable tbody').empty();

                                // إضافة البيانات المسترجعة إلى الجدول
                            response.inv.forEach(function (item) {
                                   //alert(item.classID);
                                    $('#productsTable tbody').append(`
                                                <tr>
                                                            <td>${item.classID}</td>
                                                            <td>${item.classID}</td>
                                                            <td>${item.unitID}</td>
                                                            <td>${item.unitPrice}</td>
                                                            <td>${item.quantity}</td>
                                                            <td>${item.subDescount}</td>
                                                            <td>${item.subDescount}</td>
                                                            <td>${item.totalAMount}</td>
                                                </tr>
                                            `);
                                });
                            } else {
                                Swal.fire({
                                    title: 'خطأ!',
                                    text: response.message, // رسالة الخطأ
                                    icon: 'error'
                                });
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'خطأ!',
                                'حدث خطأ أثناء جلب البيانات.',
                                'error'
                            );
                        }
                    });
                } else {
                    Swal.fire(
                        'خطأ!',
                        'رقم الفاتورة غير موجود.',
                        'error'
                    );
                }
            });

            // حذف الفاتورة عند الضغط على زر الحذف
            $('.delete-record').on('click', function () {
                // التأكد من الحصول على الـ ID
                var invoiceId = $(this).closest('tr').find('td:first').text(); // جلب الـ ID من الخلية الأولى في الصف
                const antiForgeryToken = $("input[name='__RequestVerificationToken']").val(); // جلب قيمة التوكن المضاد للـ CSRF

                // التأكد من أن الـ ID موجود
                if (invoiceId) {
                    // استخدام SweetAlert للتأكيد
                    Swal.fire({
                        title: 'هل أنت متأكد؟',
                        text: 'لن يمكنك استرجاع الفاتورة بعد الحذف!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'نعم، احذفها',
                        cancelButtonText: 'إلغاء',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // إرسال طلب الحذف عبر Ajax
                            $.ajax({
                                url: "/POSView?handler=DeleteInvoice",
                                method: "GET",
                                data: { invoiceId },
                          
                                success: function (response) {
                                    if (response.success) {
                                        var row = $(this).closest('tr').remove();
                                       // إخفاء الصف تدريجياً في 1 ثانية
                                        Swal.fire({
                                            title: 'تم الحذف!',
                                            text: response.message, // عرض رسالة النجاح
                                            icon: 'success'
                                        }).then(() => {

                                          //  $('.datatables-basic').row($(this).parents('tr')).remove().draw();
                                           

                                            // تغيير لون الصف إلى الأحمر تدريجياً قبل إخفائه
                                            // var row = $(this).closest('tr');
                                            // row.css('background-color', 'red')  // تعيين اللون الأحمر
                                            //     .fadeOut(1000);  // إخفاء الصف تدريجياً في 1 ثانية

                                        });
                                    } else {
                                        Swal.fire({
                                            title: 'خطأ!',
                                            text: response.message, // عرض رسالة الخطأ
                                            icon: 'error'
                                        });
                                    }
                                },
                                error: function () {
                                    // إظهار رسالة Error في حال حدوث خطأ في الاتصال
                                    Swal.fire(
                                        'خطأ!',
                                        'حدث خطأ في الاتصال بالخادم.',
                                        'error'
                                    );
                                }
                            });
                        }
                    });
                } else {
                    Swal.fire(
                        'خطأ!',
                        'لم يتم العثور على رقم الفاتورة.',
                        'error'
                    );
                }
            });
            $('.datatables-basic').DataTable({
            
                // إضافة خيارات إضافية هنا إذا لزم الأمر (مثل: ترتيب افتراضي، عدد الصفحات، إلخ.)

                order: [[1, 'ASC']],
                dom:
                    '<"row mx-2"' +
                    '<"col-md-2"<"me-3"l>>' +
                    '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                    '>t' +
                    '<"row mx-2"' +
                    '<"col-sm-12 col-md-6"i>' +
                    '<"col-sm-12 col-md-6"p>' +
                    '>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search..'
                },
                // Buttons with Dropdown
                buttons: [
                    {
                        extend: 'collection',
                        className: 'btn btn-label-secondary dropdown-toggle mx-3',
                        text: '<i class="bx bx-upload me-2"></i>Export',
                        buttons: [
                            {
                                extend: 'print',
                                text: '<i class="bx bx-printer me-2" ></i>Print',
                                className: 'dropdown-item',
                            
                            },
                            {
                                extend: 'csv',
                                text: '<i class="bx bx-file me-2" ></i>Csv',
                                className: 'dropdown-item',
                     
                            },
                            {
                                extend: 'excel',
                                text: 'Excel',
                                className: 'dropdown-item',
                            
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="bx bxs-file-pdf me-2"></i>Pdf',
                                className: 'dropdown-item',
                               
                            },
                            {
                                extend: 'copy',
                                text: '<i class="bx bx-copy me-2" ></i>Copy',
                                className: 'dropdown-item',
                              
                            }
                        ]
                    },
                  
                ],
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "الكل"]]
            });
        });
   </script>
}